@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --main-color: #fffc00;
  --black: #000;
  --upheader-color: #423b3b;
  --semi-light-color: #747272;
  --light-color: #777;
  --b-red: #ff2a00;
  --bg: #fbf6ed;
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

body {
  /* background-color: #423b3b; */
  background-color: #111214;
}

/* global section ends */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
  overflow-x: hidden;
}
.heading {
  text-align: center;
  padding-bottom: 3rem;
  font-size: 4rem;
  color: var(--black);
  margin-top: 100px;
}

.btn {
  width: fit-content;
  text-align: center;
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 1.5rem;
  font-size: 2.5rem;
  font-weight: 600;
  cursor: pointer;
  color: white;
  background-color: #111214;
  /* background: linear-gradient(
    99deg,
    rgba(249, 249, 249, 0.5) 0%,
    hsla(0, 2%, 9%, 0.5) 100%
  ); */
  border-radius: 2rem;
  box-shadow: var(--box-shadow);
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0%;
  background: var(--main-color);
  z-index: -1;
  transition: 0.2s ease-out;
}

.btn:hover {
  background-color: rgba(255, 216, 0, 0.5) 0%;
  color: #111214;
}

.btn:hover::before {
  left: 0;
  width: 100%;
}

ul {
  list-style: none;
}

/* global section ends */

.vision-desc {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  text-align: left;
  text-transform: capitalize;
  color: rgb(255, 255, 255);
  padding: 20px;
}
.img-container {
  background-color: #fffc00;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* services section starts */
.services {
  /* background-color: #3a3c39; */
}

.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}

.services .box-container .box {
  text-align: center;
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 30px;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 500px;
  background-color: #111214;
}
.box {
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.box:hover .flip-card-inner {
  transform: rotateX(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}

.flip-card-front {
  background-color: black;
  color: rgb(255, 255, 255);
}
.flip-card-front h1 {
  font-size: 60px;
  font-style: italic;
  font-family: monospace;
  margin-top: 10px;
}
.flip-card-back {
  background-color: black;
  color: rgb(255, 255, 255);
  transform: rotateX(180deg);
}
.services .box-container .box img {
  height: 10rem;
}

.services .box-container .box h3 {
  color: var(--black);
  font-size: 2.5rem;
  padding-top: 1.5rem;
}

.services .box-container .box p {
  color: var(--light-color);
  font-size: 1.7rem;
  padding: 1rem 0;
}
.services .btn {
  background-color: rgb(79, 77, 77);
}

.cursor-img-container {
  border-radius: 15px;
  width: 90%;
}
.down-logo {
  width: 22%;
}

/* services section ends */

@media (max-width: 1190px) {
  .home {
    text-align: center;
  }

  .home .homeSection .content:nth-child(3) {
    align-items: center;
  }

  .upHeader {
    display: none;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }

  .home .next,
  .home .prev {
    display: none;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: initial;
  }

  .header .navbar {
    position: absolute;
    top: 115%;
    right: 2rem;
    background: #fff;
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: 0.5rem;
    width: 30rem;
    transform: scale(0);
    transform-origin: top right;
    opacity: 0;
  }

  .header .navbar.active {
    transform: scale(1);
    opacity: 1;
  }

  .header .navbar a {
    font-size: 2rem;
    display: block;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    color: #3a3c39;
  }

  .header .navbar a:hover {
    background: var(--bg);
  }

  .home .homeSection .active {
    text-align: center;
  }

  .home .homeSection .content h1 {
    font-size: 4rem;
  }

  .home .homeSection .content p {
    font-size: 1.5rem;
  }

  .home .homeSection .content .button {
    width: fit-content;
    flex-direction: column;
  }
  .contact .icons-container {
    height: 100%;
    display: grid;
    margin-top: 15px;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    gap: 1.5rem;
  }

  .about h4 {
    font-size: 12px;
    font-style: oblique;
    word-spacing: 2px;
  }
  .services .box-container .box {
    margin-left: 30px;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .services .box-container .box {
    margin-left: 20px;
  }
}
