.logo {
  width: 10%;
}
.ul-text-color {
  color: #ffffff;
}
.ul-text-color:hover {
  color: #fffc00;
}
div.dropdown-menu.show {
  width: auto;
  height: auto;
}
a.dropdown-item {
  font-size: 15px;
  color: #000000;
}
a.dropdown-item:hover {
  font-size: 18px;
  color: #fffc00;
}
.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown-toggle::after {
  display: none;
}
