.card {
  text-align: center;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-bottom: 10px;
  width: 37rem;
}

@media (max-width: 1190px) {
  .card {
    width: 30rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .card {
    width: 25rem;
  }

}

@media (max-width: 768px) {
  .card {
    width: 20rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .card {
    width: 15rem;
  }
}
