.digital-marketing {
  color: white;
}
.for-margin {
  margin-top: 150px;
}
.for-right-margin {
  margin-top: 100px;
}
.border {
  width: 80%;
  margin: auto;

  opacity: 0.5;
}
.for-heading-margin {
  margin-left: 10%;
}
.img-service-container {
  border: 0;
}
.form-service-container {
  width: 80%;
}
.service-container {
  width: 80%;
  border: 0.1px rgb(132, 128, 128) solid;
  background-color: black;
  margin: auto;
}
.service-container:hover {
  box-shadow: 0 0 1px 1px white;
  transform: scale(1.01);
}
.btn-Portfolio {
  background-color: #ffd800;
  color: #111214;
}
/* .from-our-portfolio-container {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 35rem;
} */

@media (max-width: 1190px) {
  .for-heading-margin {
    margin-left: 0;
  }

}

@media (max-width: 991px) {
  .for-heading-margin {
    margin-left: 0;
  }
  .service-container {
    width: 90%;
  }
  html {
    font-size: 70%;
  }
}

@media (max-width: 768px) {
  .for-heading-margin {
    margin-left: 0;
  }
  .service-container {
    width: 90%;
  }
  html {
    font-size: 55%;
  }
}

@media (max-width: 450px) {
  .for-heading-margin {
    margin-left: 0;
  }
  /* .digital-marketing .carousel {
    width: 300px;
    height: 600px;
    margin: auto;
    overflow: hidden;
  } */
  .service-container {
    width: 90%;
    margin: auto;
  }
  html {
    font-size: 50%;
  }
}
