.digital-marketing {
  color: white;
  overflow: hidden;
  line-height: 35px;
}
.for-margin {
  margin-top: 150px;
}
.for-right-margin {
  margin-top: 100px;
}
.border {
  width: 80%;
  margin: auto;
  opacity: 0.5;
}
.for-heading-margin {
  margin-left: 10%;
}
.img-service-container {
  border: 0;
}
.form-service-container {
  width: 80%;
}
.service-container {
  width: 80%;
  border: 0.1px rgb(132, 128, 128) solid;
  background-color: black;
  margin: auto;
}
.service-container:hover {
  box-shadow: 0 0 1px 1px white;
  transform: scale(1.01);
}
.btn-Portfolio {
  background-color: #fffc00;
  color: #111214;
}

.custom-dot-list-style {
  height: 23px;
}

@media (max-width: 1190px) {
  .for-heading-margin {
    margin-left: 80px;
  }
}

@media (max-width: 991px) {
  .for-heading-margin {
    margin-left: 50px;
  }
  .service-container {
    width: 90%;
  }
  html {
    font-size: 70%;
  }
}

@media (max-width: 768px) {
  .for-heading-margin {
    margin-left: 40px;
  }
  .service-container {
    width: 90%;
  }
  html {
    font-size: 55%;
  }
}

@media (max-width: 450px) {
  .for-heading-margin {
    margin-left: 40px;
  }

  .service-container {
    width: 90%;
    margin: auto;
  }
  html {
    font-size: 50%;
  }
}
